
.idea*
.idea/sonarlint/securityhotspotstore/a/5/a5cc2925ca8258af241be7e5b0381edf30266302
.idea/sonarlint/securityhotspotstore/index.pb
.idea/sonarlint/securityhotspotstore/9/a/9a6596b5d71c19602b69f07cc32599fc0375198c
.idea/sonarlint/securityhotspotstore/4/2/42fe59561cc8d8d2b0066e6dca2b3f1c55fadba5
.idea/sonarlint/securityhotspotstore/1/f/1fc22cc80357d507e4ae466ba9685e38ac198494
.idea/sonarlint/issuestore/index.pb
.idea/sonarlint/issuestore/a/5/a5cc2925ca8258af241be7e5b0381edf30266302
.idea/sonarlint/issuestore/9/a/9a6596b5d71c19602b69f07cc32599fc0375198c
.idea/sonarlint/issuestore/4/2/42fe59561cc8d8d2b0066e6dca2b3f1c55fadba5
.idea/sonarlint/issuestore/1/f/1fc22cc80357d507e4ae466ba9685e38ac198494
.idea/encodings.xml
.idea/compiler.xml
.idea/sonarlint/securityhotspotstore/index.pb
.idea/sonarlint/issuestore/index.pb
.idea/encodings.xml
.idea/compiler.xml
*.pb
*.xml
*.pb
*.pb
